@{
    ViewBag.Title = "Tienda";
}

    <div class="jumbotron">
        @if (Request.IsAuthenticated)
        {

            <h1>HOLA!</h1>
            <p class="lead">Es un gusto volver a estar contigo,@Common.CurrentUser.Get.Nombre</p>
        }
        else
        {
            <h1>Bienvenido!</h1>
            <p class="lead">Registrate para conocer todas nuestras promociones para ti!</p>
        }
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Registrate</h2>
        <p>
            Registra una cuenta para poder acceder a los beneficios especiales que nuestros clientes tienen.
        </p>
        <p><a class="btn btn-default" href="~/Account/Register">Crear Cuenta&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Productos</h2>
        <p>Contamos con los productos de mejor calidad en el mecado Observa nuevo catalogo!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Productos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>